**/__pycache__
*.egg-info
*.pyc
*.py~
*.swo
*.swp
*~
.DS_Store
.backportrc.json
.idea/
.vscode/
.wnf-lang-status
__pycache__
conf.py
dist/
webshop/docs/current
webshop/public/dist
latest_updates.json
locale
node_modules/
tags
