include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include webshop *.css
recursive-include webshop *.csv
recursive-include webshop *.html
recursive-include webshop *.ico
recursive-include webshop *.js
recursive-include webshop *.json
recursive-include webshop *.md
recursive-include webshop *.png
recursive-include webshop *.py
recursive-include webshop *.svg
recursive-include webshop *.txt
recursive-exclude webshop *.pyc