<div class="card address-card h-100">
	<div class="btn btn-sm btn-default btn-change-address font-md" style="position: absolute; right: 0; top: 0;">
		{{ _('Change') }}
	</div>
	<div class="card-body p-0">
		<div class="card-title">{{ address.title }}</div>
		<div class="card-text mb-2">
			{{ address.display }}
		</div>
		<a href="/address/{{address.name}}" class="card-link">
			<svg class="icon icon-sm">
				<use href="#icon-edit"></use>
			</svg>
			{{ _('Edit') }}
		</a>
	</div>
</div>


<script>
	frappe.ready(() => {
		function get_update_address_dialog() {
			let d = new frappe.ui.Dialog({
				title: "Select Address",
				fields: [{
					'fieldtype': 'HTML',
					'fieldname': 'address_picker',
				}],
				primary_action_label: __('Set Address'),
				primary_action: () => {
					const $card = d.$wrapper.find('.address-card.active');
					const address_type = $card.closest('[data-address-type]').attr('data-address-type');
					const address_name = $card.closest('[data-address-name]').attr('data-address-name');
					frappe.call({
						type: "POST",
						method: "webshop.webshop.shopping_cart.cart.update_cart_address",
						freeze: true,
						args: {
							address_type,
							address_name
						},
						callback: function(r) {
							d.hide();
							if (!r.exc) {
								$(".cart-tax-items").html(r.message.total);
								shopping_cart.parent.find(
									`.address-container[data-address-type="${address_type}"]`
								).html(r.message.address);
							}
						}
					});
				}
			});

			return d;
		}

		function get_address_template(type) {
			return {
				shipping: `<div class="mb-3" data-section="shipping-address">
					<div class="row no-gutters" data-fieldname="shipping_address_name">
						{% for address in shipping_addresses %}
							<div class="mr-3 mb-3 w-100" data-address-name="{{address.name}}" data-address-type="shipping"
								{% if doc.shipping_address_name == address.name %} data-active {% endif %}>
								{% include "templates/includes/cart/address_picker_card.html" %}
							</div>
						{% endfor %}
					</div>
				</div>`,
				billing: `<div class="mb-3" data-section="billing-address">
					<div class="row no-gutters" data-fieldname="customer_address">
						{% for address in billing_addresses %}
							<div class="mr-3 mb-3 w-100" data-address-name="{{address.name}}" data-address-type="billing"
								{% if doc.shipping_address_name == address.name %} data-active {% endif %}>
								{% include "templates/includes/cart/address_picker_card.html" %}
							</div>
						{% endfor %}
					</div>
				</div>`,
			}[type];
		}

		$(document).on('click', '.btn-change-address', (e) => {
			const d = get_update_address_dialog();
			const type = $(e.currentTarget).parents('.address-container').attr('data-address-type');

			$(d.get_field('address_picker').wrapper).html(
				get_address_template(type)
			);

			d.show();
		});
	});
	</script>