{% from "webshop/templates/includes/macros.html" import product_image %}
{% from "webshop/templates/includes/cart/cart_macros.html" import quantity_input %}

{% macro item_subtotal(item) %}
	<div>
		{{ item.get_formatted('amount') }}
	</div>

	{% if item.is_free_item %}
		<div class="text-success mt-4">
			<span class="free-tag">
				{{ _('FREE') }}
			</span>
		</div>
	{% else %}
		<span class="item-rate text-muted">
			{{ _('Rate:') }} {{ item.get_formatted('rate') }}
		</span>
	{% endif %}
{% endmacro %}

{% for d in doc.items %}
	<tr data-name="{{ d.name }}">
		<td class="details-col">
			<div class="d-flex">
				<div class="cart-item-image mr-4">
					{% if d.thumbnail %}
						{{ product_image(d.thumbnail, alt="d.web_item_name", no_border=True) }}
					{% else %}
						<div class = "no-image-cart-item">
							{{ frappe.utils.get_abbr(d.web_item_name) or "NA" }}
						</div>
					{% endif %}
				</div>

				<div class="d-flex w-100" style="flex-direction: column;">
					<div class="item-title mb-1 mr-3">
						{{ d.get("web_item_name") or d.item_name }}
					</div>
					<div class="item-subtitle mr-2">
						{{ d.item_code }}
					</div>
					{%- set variant_of = frappe.db.get_value('Item', d.item_code, 'variant_of') %}
					{% if variant_of %}
					<span class="item-subtitle mr-2">
						{{ _('Variant of') }}
						<a href="{{frappe.db.get_value('Website Item', {'item_code': variant_of}, 'route') or '#'}}">
							{{ variant_of }}
						</a>
					</span>
					{% endif %}

					<div class="d-lg-none">
						{{ quantity_input(d) }}
					</div>
					<div class="mt-1 mt-lg-2 notes">
						<textarea data-item-code="{{d.item_code}}" class="form-control" rows="2" placeholder="{{ _('Add notes') }}">{{d.additional_notes or ''}}</textarea>
					</div>
				</div>
			</div>
		</td>

		<!-- Qty column -->
		<td class="text-right column-sm-view" style="width: 25%;">
			{{ quantity_input(d) }}
		</td>

		<!-- Subtotal column -->
		{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
			<td class="text-right item-subtotal w-100">
				{{ item_subtotal(d) }}
			</td>
		{% endif %}
	</tr>
{% endfor %}
